*{
    margin:0;
    overflow-x: hidden;
    padding:0;
    min-height: fit-content;
}

h1{
    color:black;
    font-size: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: auto;
    }

    h2{
    color:white;
    font-size: 32px;
    
    
      }

h3{
    color:white;
    font-size: 32px;  
        display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: top;
    height: auto; 
    position: sticky;
}
    
p2{
       left: 10px;
    }
.main_left{
    transition: transform 0.3s;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    border-radius: 50%;

   

 
    }

 
.main_left:hover{
    transform: scale(1.01);
    }

    .link{
    display: flex;
    flex-direction: column;
    width: 10%;
    bottom: 10px;
    right: 10px;
    }

    .imghero{
        width: auto;
        height: auto;
        border-radius: 50%;
    }
    .imghero:hover{
        transform: scale(1.1);
    }
    .imgvoltar{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: end;
        width: auto;
        height: auto;
        bottom: 0;
        right: 0;
        border-radius: 50%;
            position: fixed;
    bottom: 0;
    right: 0;
    /* Opcional: adicione margem para não encostar na borda */
    margin: 20px;
    }   
    .imgvoltar:hover{
        transform: scale(1.1);
    }   
.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(images/hero.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    top: 0;
}


#p2{
    font-size: 1em;
    border: red;
}
.voltar{
    transition: transform 0.3s;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    bottom: 10px;
    right: 10px;
    height: auto;
}

   
.table{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    transform: scale(0.8);
    left:auto;
    top: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex; /* Alinha os itens lado a lado */
}
h4{
    color:white;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: auto
    ;
}
h5{
    color:white;
    font-size: 32px;
    position: sticky;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
} 
p{
    color:white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: auto
    ;
}  

th {
  position: sticky;
  top: 0;           /* Sticks to the very top of the scroll container */
  z-index: 10;      /* Keeps the header above the scrolling rows */
  background-color: #ffffff; /* Must be opaque to hide rows passing underneath */
}

table {
    border-collapse: collapse; /* */
}
table, th, td {
    border: 2px solid black;
    color: white;
}   
th { color: #ff5733; }